<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/base.css' %}"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

function send_to_devices(service_id, app_key, app_type) {

	sendButton = $("#sendButton"+service_id);
	sendButton.prop("disabled",true);

	payload = $("#payload_editor").val()
//	aps_payload = $("#aps_payload_editor").val()

	$.ajax({
		url: 'send_devices',

		type: 'POST',
		data: {
			"app_key" : app_key,
			"app_type" : app_type,
			"payload" : payload/*,
			"aps_payload" : aps_payload*/
		},


	}).done(function(jqXHR, textStatus) {
     // alert( "success "   + textStatus + " " + jqXHR.status);
  })
  .fail(function(jqXHR, textStatus) {
     alert( "Send returned error: " + jqXHR.responseText );
  })
  .always(function() {
  	update_recent();
  	sendButton.prop("disabled",false);
    // alert( "complete" );
  });
	// alert("Test " + app_key + " " + app_type);
}

function add_device(service_id, app_key, app_type) {

	textinput = $("#device_id_text"+service_id);
	button = $("#addButton"+service_id);
	statustext = $("#status"+service_id);

	apid = textinput.val()
	url = 'add_apid?app_key=' + app_key + "&app_type="+app_type + "&apid="+apid;

	statustext.text("Setting...");

	textinput.attr('disabled','disabled');
	button.prop("disabled",true);

	$.ajax({
		url: url,

		type: 'GET',

		success: function(jqXHR, textStatus, error ) {

			 alert(error.status);

			if(error.status == 200) {
				statustext.text("Success: " + error.responseText )
	          textinput.val("")
	          // statustext.text("")
			} else {
				statustext.text("Fail: " + error.responseText )
			}
          

     	},


     	complete:function(data) {
     		
			textinput.removeAttr('disabled');

			button.prop("disabled", false);
     	}

	});

}

function update_recent() {
	$.ajax({
		url: "recents",

		type: 'GET',

	}).done(function(jqXHR, textStatus) {

		$('#recent_list').empty();

		j = jqXHR;

		$.each(j, function( index, value ) {

			// if(typeof value.aps_text === "undefined" || value.aps_text == null) {
			// 	value.aps_text = ""
			// }

			txt = value.text;

			// if(value.aps_text != "") 
			// 	txt += "<br/>aps:---<br/>" + value.aps_text

			entry = $("<li>" + txt + "</li>");

			entry.click(function()
			{
				$("#payload_editor").val(value.text);
				// $("#aps_payload_editor").val(value.aps_text);
			});


			$("#recent_list").append(entry);
		});

		//alert(j.text);
    // alert( "success "   + textStatus + " " + jqXHR.status);
  })
  .fail(function(jqXHR, textStatus) {
    // alert( "error " + textStatus );
  })
  .always(function() {
  	    $('li').each(function(element){
  	   //  	$(this).hover(
	     //  		function() { $('#tooltip').show(); },
	     //  		function() { $('#tooltip').hide(); }
    		// );
    	});
    // alert( "complete" );
  });;
}

$( document ).ready(function() {

	$(document).bind('mousemove', function(e){
	    $('#tooltip').css({
	       left:  e.pageX + 20,
	       top:   e.pageY
	    });
	});

    update_recent();
    


});

</script>
</head>
<body>
<div id="container">

<div id="payload_div">
	<div class="exampleText">"notification" : {</div>
	<textarea id="payload_editor" class="texteditor" placeholder="Enter payload here">{{lastpayload.text}}</textarea>
	<div class="exampleText">}</div>

<!-- 	<div class="exampleText">"aps" : {</div>
	<textarea id="aps_payload_editor" class="texteditor" placeholder="Enter payload here">{{ lastpayload.aps_text|default:"" }}</textarea>
	<div class="exampleText">}</div> -->

	<h3>Recent</h3>
	<div id="recent">

	<ul id="recent_list">
		<li>text...
		</li>

		<li>entry 2...
		</li>

	</ul>

	</div>
</div>


<div id="services">
	<h1>Services:</h1>
	<ul>
	{% for service in services %}
	    <li><b>{{ service.name }}</b><br />
	    	<button type="button" id="sendButton{{service.id}}" onClick="send_to_devices('{{ service.id }}', '{{ service.app_key }}', '{{ service.app_type }}')">Send Test Push</button><br />

	    	<input type="text" size="24" placeholder="Device ID" id="device_id_text{{service.id}}"/>

	    	<button type="button" id="addButton{{service.id}}" onClick="add_device('{{ service.id }}','{{ service.app_key }}', '{{ service.app_type }}')">Add</button>

	    	<span id="status{{service.id}}"></span>
	    </li>
	{% endfor %}
	</ul>
</div>
</div>

<div id="tooltip">Tooltip info</div>
</body>