body{
	min-width:1020px;font:13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";color:#333;background-color:#fff}a{color:#4183c4;text-decoration:none}

#container
{
	width:1020px;
	margin:auto;
}

.texteditor
{
	width: 600px;
	height: 200px;
	border: 3px solid #cccccc;
	padding: 5px;
	font: normal 1em Verdana, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.exampleText
{
	font: normal 2em Verdana, sans-serif;
	color:#bbb;
	margin-top: .2em;
	margin-bottom: .2em;
}

#payload_div
{
	 max-width: 600px;
	float:left;
}

#services
{
	float:right;
	width:400px;
}

#services ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}


#services ul li { 
	/*display: inline;*/
	margin-top: 1.2em;
}

#recent ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: normal .8em Verdana, sans-serif;
}

#recent ul li {
    /*border: 1px solid #000000;/*Black 1px border*/
    background: #bbb;
    margin-top: 1.2em;
    padding: 1em;
    white-space:pre;
    overflow:hidden;
}

#recent ul li:hover {
	background: #bfb;
	cursor: pointer; cursor: hand;

    /*margin-top: 1.2em;*/
     /*#border: 2px dotted #ff0000; Red 2 pix dotted line border*/
}

#tooltip {
    position: absolute;
    background-color: #00ff00;
    padding: 16px 16px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    display: none;
}

/*
#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
}
*/